{% extends "nav.html" %}

{% block content %}
    <style>
     
   </style>
    
   </head>
    <body>
            <div class="containter-fluid content">
                <div class="row">
                    <div class="col-md-12" id="start">
                        <br><span id='header'>What is guitar <b>Tablature?</b></span><br><br><br>
                        
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/j2lJjaDDD0k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
                       Ready to break down Tablature?<br><br>
                       <a href="/tab_page"<button class="btn begin">Begin</button></a><br><br><br>
                       <img src="https://assets.yousician.com/app/uploads/2019/09/20124520/traditional-guitar-tablature-1024x427.png" alt="guitar-tab">
                    </div>
                </div>         
            </div>
    </body>
    {% endblock %}