
   {% extends "nav.html" %}

   {% block content %}
   <script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
   <script>
       var quiz = {{ guitar_quiz|tojson }}
   </script>
   <style>
       #quiz_box{
           text-align: center;
           font-size: 20px;
       }
       .quiz_choice{
           border-radius: 6px;
           background-color:#1589FF;
           border-style: solid;
           border-width: thin;
           border-color: white;
           color: white;
           width: 350px;
       }
       .indiv_quiz{
            margin: auto;
            width: 350px;
       }   
       .quiz_choice:hover{
           opacity: 0.6;
           cursor: pointer;
       }
       .wrong_answer{
            background-color: #FF6A6A;
       }
       .correct_answer{
            background-color: #4EEE94;
       }
   </style>
   </head>
    <body>
        <div class="container">
            <div id="quiz_box"></div><br>
        </div>           
    </body>
{% endblock %}